#imgHorario{
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

#container2{
    background-color:rgb(43, 35, 35);
    color: white;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 100px;
}

h3{
    text-align: center;
    font-size: 50;
}

p{
    text-align: center;
    font-size: 40;
}

table{
    margin: auto;
}

th{
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width:750px) {  

    #container2{
        padding-left: 75px;
        padding-right: 75px;
    }
    
    th{
        font-size: 15px;
    }
}

@media screen and (max-width:650px) {

    #imgHorario{
        width: 400px;
    }
    
    #container2{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    th{
        padding: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {

    #imgHorario{
        width: 300px;
    }
    
    th{
        padding: 3px;
    }
}

@media screen and (max-width:400px) {
    
    #imgHorario{
        width: 250px;
    }
    
    #container2{
        padding-left: 25px;
        padding-right: 25px;
    }
    
    th{
        padding: 2px;
        font-size: 8px;
    }
}