#container2{
    background-color:rgb(43, 35, 35);
    color: rgb(255, 123, 0);
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 100px;
}
article{
    text-align: center;
    line-height: 23px;
    font-size: 20px;
}

#container_backGround1{
    background: url(images/container1_index.jpeg);
    opacity: 1;
    width: 1100px;
    height: 500px;
    font-size: 50px;
}

#imgTeacher{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.awards_0{
    display: block;
    margin: 10px;
    position: relative;
    margin-bottom: 20px;
}

.leftImgAwards{
    max-width: 250px;
    order-radius: 20px;
    box-shadow: rgb(255, 123, 0) 0px 0px 15px;
    display: inline-block;
    position: relative;
}

.rightImgAwards{
    max-width: 250px;
    border-radius: 20px;
    box-shadow: rgb(255, 123, 0) 0px 0px 15px;
    display: block;
    position: relative;
    margin-left: auto;
}

.rightTextAwards{
    display: inline-block;
    position: absolute;
    padding-left: 50px;
    text-align: center;

}
.leftTextAwards{
    display: inline-block;
    position: absolute;
    padding-right: 50px;
    text-align: center;
    margin-left: auto;
    max-width: 70%;
}
