
#container2{
    background-color:rgb(43, 35, 35);
    color: white;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 100px;
}
article{
    text-align: center;
    line-height: 43px;
    font-size: 40px;
}

#imgTeacher{
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

@media screen and (max-width:900px) {

    #container2{
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-right: 15px;
    }
    article{
        line-height: 40px;
        font-size: 36px;
        max-width: 95%;
        margin: auto;
    }
    
    #imgTeacher{
        width: 500px;
    }

}

@media screen and (max-width:725px) {

    article{
        line-height: 36px;
        font-size: 32px;
        max-width: 95%;
    }
    
}

@media screen and (max-width:650px) {

    article{
        line-height: 32px;
        font-size: 28px;
        max-width: 95%;
    }
    
    #imgTeacher{
        width: 400px;
    }
    
}

@media screen and (max-width:500px) {

    article{
        line-height: 18px;
        font-size: 15px;
        margin: auto;
    }
    
    #imgTeacher{
        width: 200px;
    }

}

@media screen and (max-width:350px) {

    article{
        line-height: 15px;
        font-size: 12px;
        margin: auto;
    }
}